# npm ignore
npm-debug.log
node_modules/

# sublime text
*.sublime-workspace

# WebStrom IDE ignore
.idea/

# vim Ignore
*.swp

# kdiff3 Ignore
*.orig

# OS Ignores
Thumbs.db
.DS_Store

# iis logs
*.logs/*

builtAssets/*
