<configuration>
	<system.webServer>
		<handlers>
	  		<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
		</handlers> 
        <iisnode      
            node_env="%node_env%"/>
        <rewrite>
		<rules>
			<rule name="app.js">
				<match url="/*" />
				<action type="Rewrite" url="app.js" />
			</rule>
		</rules>
	 </rewrite>
	</system.webServer>
</configuration>