<configuration>
	<system.webServer>
		<handlers>
	  		<add name="iisnode" path="app.js" verb="*" modules="iisnode" />
		</handlers>    
	</system.webServer>
	<rewrite>
		<rules>
			<rule name="app.js">
				<match url="*" />
				<action type="Rewrite" url="app.js" />
			</rule>
		</rules>
	 </rewrite>
</configuration>